<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.80.0">
  <title>Bon Vivant</title>
  <base href="/">

  <link rel="icon" href="../images/l.svg">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">



  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#7952b3">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="css/carousel.css" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bon Vivant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profile/<%=user.Id%>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/<%=user.Id%>" tabindex="-1">Your Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/postblog/<%=user.Id%>" tabindex="-1">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" tabindex="-1" href="/profilepg/<%=user.Id%>"><%= user.First_Name+" "+user.Last_Name%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" tabindex="-1">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div style="background-image: url('images/one.jpg');" class="carousel-item active">
          <img src="images/one.jpg" alt="">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
          <div class="container">
            <div class="carousel-caption text-start">
              <h1><strong>A recipe has no soul. You as the cook must bring soul to the recipe.</strong></h1>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="images/two.jpg" alt="">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" />
          </svg>

          <div class="container">
            <div class="carousel-caption">
              <h1><strong>Real cooking is more about following your heart than following recipes.</strong></h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" />
          </svg>
          <img src="images/three.jpg" alt="">
          <div class="container">
            <div class="carousel-caption text-end">
              <h1><strong>If you knew how to cook, maybe I would eat <br><br><br></strong></h1>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <% const ref="/Category/"; %>

    <div class="cards-1 section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-4 colm">

            <a href=<%=ref+"Breakfast/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                <img class="img" src="images/BreakFast.jpg">
                  <!-- <div class="card-caption"> Breakfast </div> -->
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-info">Breakfast</h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"Breakfast/"+user.Id%>>Breakfast was only worth having when somebody else made it for you.</a>
                </h4>
              </div>
            </div>
            </a>

            <a href=<%=ref+"Mexican/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                <img class="img" src="images/Mexican.jpg">
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-info">Mexican</h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"Mexican/"+user.Id%>>Don’t judge your taco by its price.</a>
                </h4>
              </div>
            </div>
            </a>

            <a href=<%=ref+"Japanese/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                <img class="img" src="images/Japanese.jpg">
                  <!-- <div class="card-caption"> Breakfast </div> -->
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-info">Japanese</h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"Japanese/"+user.Id%>>Japanese chefs believe our soul goes into our knives once we start using them. You wouldn't put your soul in a dishwasher!</a>
                </h4>
              </div>
            </div>
            </a>

        </div>

          <div class="col-md-4 colm">
            <a href=<%=ref+"Chinese/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                <img class="img" src="images/Chinese.jpg">
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-success"><i class="fa fa-university"></i>Chinese</h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"Chinese/"+user.Id%>>Enjoy yourself. It's later than you think.</a>
                </h4>
              </div>
            </div>
            </a>

            <a href=<%=ref+"Indian/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                <img class="img" src="images/Indian.jpg">
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-success"><i class="fa fa-university"></i>Indian</h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"Indian/"+user.Id%>>life is just like 'Indian foods different spices are mixed together to make food more tastier just like that love, happy, sad, trouble are there in life to make life more interesting..!</a>
                </h4>
              </div>
            </div>
            </a>

            <a href=<%=ref+"StreetFood/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                <img class="img" src="images/Street Food.jpg">
                  <!-- <div class="card-caption"> Breakfast </div> -->
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-info">Street Food</h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"StreetFood/"+user.Id%>>To live a full life, you have to fill your stomach first.</a>
                </h4>
              </div>
            </div>
            </a>

          </div>

          <div class="col-md-4 colm">
            <a href=<%=ref+"NonVeg/"+user.Id%>>
            <div class="card card-blog">
              <div class="card-image">
                 <img class="img" src="images/Non-Veg.jpg">
                <div class="ripple-cont"></div>
              </div>
              <div class="table">
                <h3 class="category text-warning">
                  <i class="fa fa-soundcloud"></i> Non-Veg
                </h3>
                <h4 class="card-caption">
                  <a href=<%=ref+"NonVeg/"+user.Id%>>What's the two things they tell you are healthiest to eat? Chicken and fish. You know what you should do? Combine them, eat a penguin.</a>
                </h4>
              </div>
            </div>
             </a>

              <a href=<%=ref+"Global/"+user.Id%>>
             <div class="card card-blog">
               <div class="card-image">
                 <img class="img" src="images/Global.jpg">
                   <!-- <div class="card-caption"> Breakfast </div> -->
                 <div class="ripple-cont"></div>
               </div>
               <div class="table">
                 <h3 class="category text-info">Global</h3>
                 <h4 class="card-caption">
                   <a href=<%=ref+"Global/"+user.Id%>>One does not need silver cutlery to eat delectable food.</a>
                 </h4>
               </div>
             </div>
             </a>

             <a href=<%=ref+"Italian/"+user.Id%>>
             <div class="card card-blog">
               <div class="card-image">
                 <img class="img" src="images/Italian.jpg">
                   <!-- <div class="card-caption"> Breakfast </div> -->
                 <div class="ripple-cont"></div>
               </div>
               <div class="table">
                 <h3 class="category text-info">Italian</h3>
                 <h4 class="card-caption">
                   <a href=<%=ref+"Italian/"+user.Id%>>The trouble with eating Italian food is that five or six days later you’re hungry again.</a>
                 </h4>
               </div>
             </div>
             </a>
          </div>
        </div>
      </div>
    </div>
    </article>
    <!-- ///////////////////////////////////////////////////////////////////// -->

    <div class="container marketing">
      <br><br><br>
      <h1 class="featurette-heading" style="text-align: center;"><strong>Most Liked Recipies</strong></h1>
      <% if(blogs.length==0){ %>
      <h2 class="featurette-heading" style="margin-top: 50px;">There are no blogs posted any category.</h2>
      <% } else { %>
      <% var i=-1; %>
      <% while(i<2) { %>
      <% i++; %>
      <% if(i>=blogs.length){ %>
      <% break;} %>
      <hr class="featurette-divider">

      <div class="row featurette profileblog">
        <% if(i%2==0){ %>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto card-raised" style="background-image: url('<%=blogs[i].Image%>');  background-repeat: no-repeat;
              background-position: center;
              background-size: cover;" width="500" height="500">
          </svg>
        </div>
        <% } %>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 50px; text-align: left;"><%=blogs[i].Title%></h2>
          <h5><strong>Posted by <%=users[(blogs[i].User_Id)-1].First_Name+" "+users[(blogs[i].User_Id)-1].Last_Name%></strong></h5>
          <p class="lead" style="font-size: 1.5rem; line-height: 2rem;"><br><%=blogs[i].Content.slice(0, 350)%>.....<a href="/blog/<%=blogs[i].Id%>/<%=user.Id%>">Read More</a></p>
          <br><br>
          <span id="sp" class="badge badge-danger"><%=blogs[i].Likes%> ❤️</span>
          <span id="sp" class="badge badge-info"><%=Category[blogs[i].Category_Id-1]%></span>
          <span id="sp date" class="badge badge-dark date"><%=String(blogs[i].Date_Of_Blog).substring(0, 15)%></span>
          <hr>

        </div>
        <% if(i%2!=0){ %>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto card-raised" style="background-image: url('<%=blogs[i].Image%>');  background-repeat: no-repeat;
              background-position: center;
              background-size: cover;" width="500" height="500">
          </svg>
        </div>
        <% } %>
      </div>

      <% } }%>
      <hr class="featurette-divider">
    </div><!-- /.container -->




    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><button class="btn btn-dark" onclick="topFunction()" id="myBtn" title="Go to top">Top</button></p>
      <p>&copy; 2020–2021 BonVivant Inc. &middot; <a >Privacy</a> &middot; <a >Terms</a></p>
    </footer>
      <script type="text/javascript">
        mybutton = document.getElementById("myBtn");
        window.onscroll = function() {
          scrollFunction()
        };
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="js/bundle.min.js" crossorigin="anonymous"></script>



</body>

</html>
